@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --fonte-padrao: "Open Sans", sans-serif;
    --branco: #ffffff;
    --preto: #000000;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: normal 400 1em var(--fonte-padrao);
    color: var(--preto);
    line-height: 1.5em;
}
header {
    display: flex;
    gap: 24px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: blue;
}
header > img {
    height: 24px;
    width: 100px;
    object-fit: cover;
}
header > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}
header > ul > li > a > span.logo {
    display: block;
}
header > ul > li > a {
    text-decoration: none;
    color: var(--branco);
}
header > ul > li > a.chamada {
    font-weight: 700;
    display: block;
    background-color: var(--branco);
    color: blue;
    padding: 8px 16px;
    border-radius: 8px;
}