@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    /* fonts */
    --font-inter: "Inter", sans-serif;
    /* colors */
    --black: #000000;
    --white: #ffffff;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: normal 500 1rem var(--font-inter);
    line-height: 1.45em;
    letter-spacing: -0.005em;
}