@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    /* fonts */
    --font-inter: "Inter", sans-serif;
    /* colors */
    --black: #000000;
    --white: #ffffff;
    --gray: #0000008c;
    --lightgray: #00000026;
    --backgray: #00000005;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: normal 500 1rem var(--font-inter);
    line-height: 1.45em;
    letter-spacing: -0.005em;
    color: var(--black);
    text-decoration: none;
}
header {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
}
p.logo-prin {
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1.1em;
    letter-spacing: -0.02em;
}
nav.prin {
    display: flex;
    gap: 24px;
}
section.hero {
    display: flex;
    flex-direction: column;
    padding: 80px 24px;
    gap: 32px;
}
div.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
h1.hero {
    font-weight: 700;
    font-size: 2.75em;
    line-height: 1.1em;
    letter-spacing: -0.025em;
    text-align: center;
}
p.hero {
    font-size: 1.125em;
    color: var(--gray);
    text-align: center;
}
div.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
p.prim {
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    border-radius: 12px;
    padding: 12px 16px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
p.prim:hover {
    transform: scale(98%);
}
p.secu {
    text-align: center;
    border: 2px solid var(--lightgray);
    border-radius: 12px;
    padding: 12px 16px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
p.secu:hover {
    transform: scale(98%);
}
section.image {
    padding: 0px 24px;
}
section.image > img {
    width: 100%;
    height: 224px;
    object-fit: cover;
    border-radius: 16px;
}
section.logos {
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
    gap: 16px;
}
section.logos > p {
    text-align: center;
    color: var(--gray);
}
div.logos {
    display: flex;
    justify-content: center;
}
div.logos > div {
    display: flex;
    align-items: center;
    height: 84px;
    padding: 16px;
}
section.feature {
    display: flex;
    flex-direction: column;
}
div.row1 {
    display: flex;
    flex-direction: column;
    padding: 40px 24px 32px 24px;
    gap: 32px;
}
div.row1 > div.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
div.image {
    display: flex;
}
div.image > img {
    width: 100%;
    height: 243px;
    object-fit: cover;
    border-radius: 16px;
}
div.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
div.text > h2 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2em;
    letter-spacing: -0.02em;
}
div.text > p {
    color: var(--gray);
}
div.button p {
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    border-radius: 12px;
    padding: 12px 16px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
div.button p:hover {
    transform: scale(98%);
}
div.row2 {
    display: flex;
    flex-direction: column;
    padding: 40px 24px 32px 24px;
    gap: 32px;
}
div.row2 > div.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
section.text-row {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    background-color: var(--backgray);
}
div.text-block {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
div.text-block1, div.text-block2, div.text-block3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 24px;
    border-top: 1px solid var(--lightgray);
}
p.block-header {
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1em;
    letter-spacing: -0.02em;
}
p.block-text {
    color: var(--gray);
}
footer {
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
    gap: 56px;
}
div.footer-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
div.footer-text > nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
div.footer-text > nav p {
    color: var(--gray);
}
div.social-links {
    display: flex;
    gap: 16px;
}
div.social-link {
    display: flex;
}
wa-icon {
    font-size: 32px;
    color: var(--gray);
}