@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
    --fonte-padrao: "Questrial", sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
    font: normal 400 1em var(--fonte-padrao);
}