@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
    --fonte-padrao: "Questrial", sans-serif;
    --brand-500: #1e90ff;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: normal 400 1em var(--fonte-padrao);
    line-height: 1.5em;
}