@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
    --fonte-padrao: "Questrial", sans-serif;
    --brand-500: #1e90ff;
}
* {
    margin: 0px;
    padding: 0px;
    font: normal 400 1em var(--fonte-padrao);
    line-height: 1.5em;
}
header {
    background-color: var(--brand-500);
    text-align: center;
    padding: 24px;
}
header > a {
    color: white;
    text-decoration: none;
    margin: 0px 16px;
    font-size: 1.5em;
}
header > a:hover {
    text-decoration: underline;
}
header > img {
    color: white;
    margin: 0px 16px;
    font-size: 1.5em;
}
main > section.hero {
    position: relative;
    padding: 300px 16px;
}
main > section.hero > section.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1000px;
}
main > section.hero > section.conteudo > h1 {
    font-size: 4.5em;
    margin-bottom: 32px;
}
main > section.hero > section.conteudo > p {
    font-size: 1.5em;
}
main > section.sobre {
    position: relative;
    padding: 300px 16px;
    background-color: var(--brand-500);
}
main > section.sobre > section.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
}
main > section.sobre > section.conteudo > h2 {
    font-size: 2.5em;
    margin-bottom: 32px;
    color: white;
    text-align: center;
}
main > section.sobre > section.conteudo > p {
    font-size: 1.25em;
    color: white;
    text-align: left;
}
main > section.produtos {
    position: relative;
    padding: 300px 16px;
}
main > section.produtos > section.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
}
main > section.produtos > section.conteudo > h2 {
    font-size: 2.5em;
    margin-bottom: 32px;
    text-align: center;
}
main > section.produtos > section.conteudo > ul {
    columns: 2;
    list-style-position: inside;
    font-size: 1.25em;
    text-align: left;
}
main > section.servicos {
    position: relative;
    padding: 300px 16px;
    background-color: var(--brand-500);
}
main > section.servicos > section.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
}
main > section.servicos > section.conteudo > h2 {
    font-size: 2.5em;
    margin-bottom: 32px;
    text-align: center;
    color: white;
}
main > section.servicos > section.conteudo > p {
    font-size: 1.25em;
    color: white;
    text-align: left;
    margin-bottom: 32px;
}
main > section.servicos > section.conteudo > ul {
    columns: 2;
    list-style-position: inside;
    font-size: 1.25em;
    text-align: left;
    color: white;
}