@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
    --fonte-padrao: "Questrial", sans-serif;
    --brand-500: #1e90ff;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: normal 400 1em var(--fonte-padrao);
    line-height: 1.5em;
}
header {
    background-color: var(--brand-500);
    padding: 24px;
}
header > img {
    background-color: gray;
    display: block;
    height: 75px;
    width: 250px;
    margin: auto;
    margin-bottom: 24px;
}
header > nav {
    text-align: center;
}
header > nav > a {
    display: inline-block;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}
header > nav > a:hover {
    background-color: hsl(210, 100%, 26%);
    transition-duration: 0.4s;
}
main > section.hero {
    padding: 96px 48px;
}
main > section.hero > section.conteudo > h1 {
    font-size: 2em;
    margin-bottom: 24px;
}
main > section.hero > section.conteudo > p {
    font-size: 1.25em;
}
main > section.sobre {
    background-color: var(--brand-500);
    padding: 96px 48px;
}
main > section.sobre > section.conteudo > h2 {
    font-size: 1.5em;
    margin-bottom: 24px;
    color: white;
}
main > section.sobre > section.conteudo > p {
    font-size: 1em;
    color: white;
}
main > section.produtos {
    padding: 96px 48px;
}
main > section.produtos > section.conteudo > h2 {
    font-size: 1.5em;
    margin-bottom: 24px;
}
main > section.produtos > section.conteudo > ul {
    font-size: 1em;
    list-style-position: inside;
}
main > section.servicos {
    background-color: var(--brand-500);
    padding: 96px 48px;
}
main > section.servicos > section.conteudo > h2 {
    font-size: 1.5em;
    margin-bottom: 24px;
    color: white;
}
main > section.servicos > section.conteudo > p {
    font-size: 1em;
    margin-bottom: 24px;
    color: white;
}
main > section.servicos > section.conteudo > ul {
    font-size: 1em;
    list-style-position: inside;
    color: white;
}
main > section.tratamentos {
    padding: 96px 48px;
}
main > section.tratamentos > section.conteudo > h2 {
    font-size: 1.5em;
    margin-bottom: 24px;
}
main > section.tratamentos > section.conteudo > p {
    font-size: 1em;
    margin-bottom: 24px;
}
main > section.tratamentos > section.conteudo > ul {
    font-size: 1em;
    list-style-position: inside;
}
main > section.contato {
    background-color: var(--brand-500);
    padding: 96px 48px;
}
main > section.contato > section.conteudo > h2 {
    font-size: 1.5em;
    margin-bottom: 24px;
    color: white;
}
footer {
    background-color: var(--brand-500);
    padding: 24px;
    text-align: center;
}
footer > nav > a {
    display: inline-block;
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}
footer > nav > a:hover {
    background-color: hsl(210, 100%, 26%);
    transition-duration: 0.4s;
}
footer > p {
    margin-top: 24px;
    color: white;
}